@import "../../../variables";

.ant-slider {
  margin-top: 0;
  margin-bottom: 0;
}

@each $number, $color in $box-colors {
  .slider-#{$number} {
    & .ant-slider {
      & .ant-slider-track {
        background: $color;
      }
    }
  }
}
